/* about page  */

#about-page{
display:flex;
flex-wrap: wrap;
flex-direction: row;
background-color: black;
min-width: 600px;
min-height: 600px;
justify-content: center;
}

.about-text p{
    display:flex;
    flex-wrap: wrap;
    max-width: 60%;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(224, 224, 224);
    padding:5px;
     background-color: transparent;
    columns:1;
    top:10px;
    line-height: 30px;
    margin: 0 auto;
    justify-content: center;
}

.portrait-container{
opacity:0.6;
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;

}

.portrait-container img {
    max-height: 75%;
    max-width: 75%;
}



/* main page */

html{
    background-color: rgb(65, 65, 65);
    font-family: 'Montserrat', sans-serif;
}



.greeting{
color: rgb(224, 224, 224);
line-height: 3%;
text-align: center;
}

.greeting h1{
display:flex;
flex-wrap: wrap;
flex-direction: row;
font-size: 5rem;
line-height:2px;
margin:60px;

}

.project-links{
    color:rgb(224, 224, 224);
    
    text-align: center;
    text-decoration: underline;
    text-decoration-color:black;
    font-size:2.5rem ;
}

.project-links a:visited {
color: rgb(224, 224, 224);
text-decoration-color: black;
}

.project-links a:hover {
   color:rgba(224, 224, 224, 0.377)
}

button{
    
    
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    cursor: default;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0em;
    padding: 1px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
}


.follow li a {
    color: rgb(224, 224, 224);
    font-size: smaller;  
    font-weight: small;
    font-family: 'Montserrat', sans-serif;
    
    
    list-style-type: none;
   }
    ::marker{
       color:transparent
   }
/* project pages */
.project{
color:rgb(65, 65, 65);
background-color:rgb(224, 224, 224);
font-family: 'Montserrat', sans-serif;
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.info,.wrap,.screen-shot,p,h1,h2{
    justify-content: center;
    text-align: center;
}
.wrap{
    max-width:75%;
    align-content: center;
    display:flex;
    flex-wrap: wrap;
    margin:auto;

}

.details {
    display:flex;
    justify-content: center;
    padding:20px;
    margin:0 auto;

}
.screen-shot img{
    justify-content: space-evenly;
    align-content: center;
    max-width:55%;
    max-height: 55%;
    border-radius: 7px;
}
.tech-used-col h2 {
text-align:start;
}
.team-col h2 {
text-align: end;
}
.next-project {
    color:rgb(224, 224, 224);
    
    text-align: right;
    text-decoration: none;
    text-decoration-color:none;
    
    justify-content: center;
}
.next-project a:visited {
    color: rgb(65, 65, 65);
    text-decoration: none;
    }
.next-project a:hover {
    color:rgba(75, 75, 75, 0.377)
 }
